<div class="container my-4">
  <hr class="mb-5"/>


  <div class="calculator card">

    <input class="calculator-screen z-depth-1" [value]="calculator.displayValue" />

    <div class="calculator-keys">

      <button type="button" class="operator btn btn-info" (click)="Operator('+')">+</button>
      <button type="button" class="operator btn btn-info" (click)="Operator('-')">-</button>
      <button type="button" class="operator btn btn-info" (click)="Operator('*')">&times;</button>
      <button type="button" class="operator btn btn-info" (click)="Operator('/')">&divide;</button>

      <button type="button"  class="btn btn-light waves-effect" (click)="inputDigit(7)">7</button>
      <button type="button"  class="btn btn-light waves-effect" (click)="inputDigit(8)">8</button>
      <button type="button"  class="btn btn-light waves-effect" (click)="inputDigit(9)">9</button>


      <button type="button"  class="btn btn-light waves-effect" (click)="inputDigit(4)">4</button>
      <button type="button" class="btn btn-light waves-effect" (click)="inputDigit(5)">5</button>
      <button type="button" class="btn btn-light waves-effect" (click)="inputDigit(6)">6</button>


      <button type="button" class="btn btn-light waves-effect" (click)="inputDigit(1)">1</button>
      <button type="button"  class="btn btn-light waves-effect" (click)="inputDigit(2)">2</button>
      <button type="button"  class="btn btn-light waves-effect" (click)="inputDigit(3)">3</button>


      <button type="button"  class="btn btn-light waves-effect" (click)="inputDigit(0)">0</button>
      <button type="button" class="decimal function btn btn-secondary" (click)="Dot('.')">.</button>
      <button type="button" class="all-clear function btn btn-danger btn-sm" value="all-clear" (click)="Clear()">AC</button>

      <button type="button" class="equal-sign operator btn btn-default"  (click)="calculate()">=</button>

    </div>
  </div>
</div>
