<h1 class="text-center mt-4 mb-5">Cập nhật sản phẩm</h1>
  <table class="table table-info container" style="width: 800px;" >
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" [(ngModel)]="product.id" disabled></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" [(ngModel)]="product.name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" [(ngModel)]="product.price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" [(ngModel)]="product.description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button (click)="submit()" class="btn btn-warning">Cập nhật</button></td>
    </tr>
  </table>
