<div class="container">
<div class="container-fluid">
  <h3 style="align-self: center">Create Employee</h3>
</div>
<form [formGroup]="updateEmployee" (ngSubmit)="onSubmit(updateEmployee)">
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Full Name</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <input type="text" class="form-control" id="inputName" formControlName="name">
      <small *ngIf="updateEmployee.get('name').invalid && updateEmployee.get('name').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Position</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <select class="custom-select" formControlName="position">
        <option *ngFor="let items of positionList" [ngValue]="items"
                [selected]="items.name == (updateEmployee.controls.position.value.name)">
          {{items.name}}
        </option>
      </select>
      <small *ngIf="updateEmployee.get('position').invalid && updateEmployee.get('position').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Education Degree</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <select class="custom-select" formControlName="educationDegree">
        <option *ngFor="let items of educationDegreeList" [ngValue]="items"
        [selected]="items.name == (updateEmployee.controls.educationDegree.value.name)">
          {{items.name}}
        </option>
      </select>
      <small *ngIf="updateEmployee.get('educationDegree').invalid && updateEmployee.get('educationDegree').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Division</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <select class="custom-select" formControlName="division">
        <option *ngFor="let items of divisionList" [ngValue]="items"
                [selected]="items.name == (updateEmployee.controls.division.value.name)">
          {{items.name}}
        </option>
      </select>
      <small *ngIf="updateEmployee.get('division').invalid && updateEmployee.get('division').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">BirthDay</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <small *ngIf="updateEmployee.get('dateOfBirth').invalid && updateEmployee.get('dateOfBirth').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputIdCard" class="col-sm-2 col-form-label">ID Card</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <input type="text" class="form-control" id="inputIdCard" formControlName="idCard">
      <small *ngIf="updateEmployee.get('idCard').invalid && updateEmployee.get('idCard').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputSalary" class="col-sm-2 col-form-label">Salary</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <input type="text" class="form-control" id="inputSalary" formControlName="salary">
      <small *ngIf="updateEmployee.get('salary').invalid && updateEmployee.get('salary').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPhoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <input type="text" class="form-control" id="inputPhoneNumber" formControlName="phoneNumber">
      <small *ngIf="updateEmployee.get('phoneNumber').invalid && updateEmployee.get('phoneNumber').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <input type="email" class="form-control" id="inputEmail" formControlName="email">
      <small *ngIf="updateEmployee.get('email').invalid && updateEmployee.get('email').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <input type="text" class="form-control" id="inputAddress" formControlName="address">
      <small *ngIf="updateEmployee.get('address').invalid && updateEmployee.get('address').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>

  <div class="_buttonSubmit">
    <a [routerLink]="['/list-employee']">back</a>
    <div class="_back">
      <button [disabled]="updateEmployee.invalid" type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</form>
</div>



