<h1 class="mt-4 ml-4 mb-5 text-center">Tạo mới sinh viên</h1>
<h4 class="mt-4 ml-4 mb-5 text-center text-danger">{{message}}</h4>
<form [formGroup]="studentForm" (ngSubmit)="submit()">
  <table class="table table-info container" style="width: 800px;">
    <!--    <tr>-->
    <!--      <td>Mã sản phẩm:</td>-->
    <!--      <td><input type="number" formControlName="id"></td>-->
    <!--    </tr>-->
    <tr>
      <td>Mã Sinh viên:</td>
      <td><input type="text" formControlName="id" ></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <a *ngIf=" studentForm.controls.id.invalid && (studentForm.controls.id.dirty || studentForm.controls.id.touched)" style="color: red">Không được để trống</a>
      </td>
    </tr>
    <tr>
      <td>Tên Sinh viên:</td>
      <td><input type="text" formControlName="name" ></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <a *ngIf=" studentForm.controls.name.invalid && (studentForm.controls.name.dirty || studentForm.controls.name.touched)" style="color: red">Tên sai định dạng/ không được để trống</a>
      </td>
    </tr>
    <tr>
      <td>Tên nhóm</td>
      <td>
        <select style="width: 140px;" formControlName="group">
          <option *ngFor="let item of groups"  [ngValue]="item" [selected]="item.name ==group1">
            {{item.name}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Tên đề tài</td>
      <td><input type="text" formControlName="detai" ></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <a *ngIf=" studentForm.controls.detai.invalid && (studentForm.controls.detai.dirty || studentForm.controls.detai.touched)" style="color: red">Không được để trống</a>
      </td>
    </tr>
    <tr>
      <td>Giáo viên hướng dẫn</td>
      <td>
        <select style="width: 140px;" formControlName="teacher">
          <option *ngFor="let item of teachers"  [ngValue]="item" [selected]="item.name ==tesst">
            {{item.name}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" formControlName="email"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <a *ngIf=" studentForm.controls.email.invalid && (studentForm.controls.email.dirty || studentForm.controls.email.touched)" style="color: red">Email không đúng định dạng</a>
      </td>
    </tr>
    <tr>
      <td>SĐT</td>
      <td><input type="text" formControlName="phone"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <a *ngIf=" studentForm.controls.phone.invalid && (studentForm.controls.phone.dirty || studentForm.controls.phone.touched)" style="color: red">Số điện thoại không đúng định dạng</a>
      </td>
    </tr>
    <tr >
      <td></td>
      <td>
        <button (click)="Back()" class="btn btn-primary mr-5">Quay lại</button>
        <button (click)="submit()" class="btn btn-warning">Cập nhật</button>
      </td>
    </tr>
  </table>
</form>

