<div class="container">
  <h3 style="align-items: center">Create Customer</h3>

<form [formGroup]="createCustomer" (ngSubmit)="onSubmit(createCustomer)">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Customer Type</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <select class="custom-select" formControlName="customerType">
        <option></option>
        <option *ngFor="let items of customerTypeList" [ngValue]="items">{{items.nameCustomerType}}</option>
      </select>
      <small *ngIf="createCustomer.get('customerType').invalid && createCustomer.get('customerType').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Full Name</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <input type="text" class="form-control" id="inputName" formControlName="name">
      <small *ngIf="createCustomer.get('name').invalid && createCustomer.get('name').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">BirthDay</label>
    <!--      <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">-->
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="myDatepicker" [min]="minDate" [max]="maxDate" formControlName="birthDate">
      <small *ngIf="createCustomer.get('birthDate').invalid && createCustomer.get('birthDate').touched" class="text-danger">Vui lòng nhập!!</small>
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
  </div>
  <!--      </div>-->
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Gender</label>
    <!--    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">-->
    <mat-radio-group aria-label="Select an option" formControlName="gender">
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
    </mat-radio-group>
    <small *ngIf="createCustomer.get('gender').invalid && createCustomer.get('gender').touched" class="text-danger">Vui lòng nhập!!</small>
  </div>
  <!--    </div>-->
  <div class="form-group row">
    <label for="inputidCard" class="col-sm-2 col-form-label">ID Card</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <input type="text" class="form-control" id="inputidCard" formControlName="idCard">
      <small *ngIf="createCustomer.get('idCard').invalid && createCustomer.get('idCard').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPhoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <input type="text" class="form-control" id="inputPhoneNumber" formControlName="phone">
      <small *ngIf="createCustomer.get('phone').invalid && createCustomer.get('phone').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <input type="email" class="form-control" id="inputEmail" formControlName="email">
      <small *ngIf="createCustomer.get('email').invalid && createCustomer.get('email').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
      <input type="text" class="form-control" id="inputAddress" formControlName="address">
      <small *ngIf="createCustomer.get('address').invalid && createCustomer.get('address').touched" class="text-danger">Vui lòng nhập!!</small>
    </div>
  </div>

  <div class="_buttonSubmit">
    <a [routerLink]="['/list-customer']" >back</a>
    <div class="_back">
      <button [disabled]="createCustomer.invalid" type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</form>
</div>



