<div class="container mt-4 ">
  <h2>Rate </h2>
  <ul class="pagination">
    <li class="page-item"><a (click)="Point(1)"  class="page-link text-white bg-info">1</a></li>
    <li class="page-item"><a (click)="Point(2)"  class="page-link text-white bg-info ">2</a></li>
    <li class="page-item"><a (click)="Point(3)"  class="page-link text-white bg-info">3</a></li>
    <li class="page-item"><a (click)="Point(4)"  class="page-link text-white bg-info">4</a></li>
    <li class="page-item"><a (click)="Point(5)"  class="page-link text-white bg-info">5</a></li>
    <li class="page-item"><a (click)="Point(6)"  class="page-link text-white bg-info">6</a></li>
    <li class="page-item"><a (click)="Point(7)"  class="page-link text-white bg-info">7</a></li>
    <li class="page-item"><a (click)="Point(8)"  class="page-link text-white bg-info">8</a></li>
    <li class="page-item"><a (click)="Point(9)"  class="page-link text-white bg-info">9</a></li>
    <li class="page-item"><a (click)="Point(10)" class="page-link text-white bg-info">10</a></li>
  </ul>
</div>

