.sidebar{
    border-right: solid blue 2px;
    height: 100vh;
    /* margin: 0%; */
    padding-right: 0%;
}
.sidebar ul {
    line-height: 40px;
}
.sidebar ul li{
    border-bottom: solid rgb(88, 112, 219) 1px;
}