<nav class="navbar navbar-light">
  <div class="container-fluid">
    <h2 style="padding: 0 30%">LIST ALL EMPLOYEES</h2>
    <div class="d-flex">
      <a [routerLink]="['/create-employee']" class="btn btn-primary">Create</a>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="form-inline" style="padding-left: 40px">
      <!--      search by id customer-->
      <input type="text" class="float-right; form-control" [(ngModel)]="searchId" placeholder="Search by id...">
      <button class="float-right; btn btn-outline-info" (click)="searchById()">Search Id</button>

      <!--      search by name customer-->
      <input type="text" class="float-right; form-control" [(ngModel)]="searchName" placeholder="Search by Name...">
      <button class="float-right; btn btn-outline-info" (click)="searchByName()">Search Name</button>
    </div>
  </div>
</nav>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">IdEmployee</th>
    <th scope="col">Full Name</th>
    <th scope="col">Position</th>
    <th scope="col">Education Degree</th>
    <th scope="col">Division</th>
    <th scope="col">Birth Day</th>
    <th scope="col">ID Card</th>
    <th scope="col">Salary</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employeeList | paginate: {itemsPerPage:5, currentPage: page};" class="col-lg-4 border text-center mt-4 p-1">
    <td>{{employee.id}}</td>
    <td>{{employee.name | titlecase}}</td>
    <td>{{employee.position.name}}</td>
    <td>{{employee.educationDegree.name}}</td>
    <td>{{employee.division.name}}</td>
    <td>{{employee.dateOfBirth | date:'dd/M/yyyy, h:mm:ss a'}}</td>
    <td>{{employee.idCard}}</td>
    <td>{{employee.salary}}</td>
    <td>{{employee.phoneNumber}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.address}}</td>
    <td>
      <a class="btn btn-outline-warning" [routerLink]="['/update-employee/', employee.id]">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-vector-pen" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
          <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"/>
        </svg>
        Edit</a>|
      <button class="btn btn-outline-danger" mat-button (click)="openDialogDelete(employee.id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
        Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<div>
  <pagination-controls (pageChange)="page = $event" style="text-align: end"></pagination-controls>
</div>

